body {
    display: block;
    text-align: center;
    font-size: 1.5em;
    min-width: 430px;
}
#result {
    margin-top: 5px;
    font-size: xx-large;
    font-weight: bold;
    color: hsla(221, 87%, 49%, 0.7);
}

#myNumber {
    border: 5px solid blue;
    padding: 5px 20px;
}

#mySubmit {
    border: 5px solid blue;
    padding: 5px 20px;
    background-color: yellow;
    cursor: pointer;
}